
@font-face {
  font-family: futuristic;
  src: url(./fonts/aircruiserlaserital.ttf) format('truetype');
}

@font-face {
  font-family: trivial;
  src: url(./fonts/Trivial-Bold.otf) format('truetype');
}

:root {
     /* Colors */
    --white: #ffffff;

    --cyan-100: #dffcff;
    --cyan-200: #9eeeff;
    --cyan-300: #53dcff;
    --cyan-400: #00cfff;

    --blue-100: #7db8ff;
    --blue-200: #3ba9ff;
    --blue-300: #3b8cff;

    --pink-100: #ffb4ff;
    --pink-200: #ff73ef;
    --pink-300: #ff39dc;

    --purple-100: #b35cff;
    --purple-200: #8d39ff;
    --purple-300: #5f1aff;

    --yellow: #fff870;
    --lime: #b4ff63;
    --green: #6fff97;

    --outline: #111327;
    --shadow: #060710;

    /* Glow Colors */
    --glow-cyan: rgba(0,220,255,.8);
    --glow-pink: rgba(255,55,220,.75);
    --glow-purple: rgba(120,30,255,.70);
    --glow-white: rgba(255,255,255,.95);
}

body {
    background-color: black;
    font-family: futuristic, sans-serif;
}

#container {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto;
}

canvas {
    background-color: white;
    margin: 0;
    border: none;
    cursor: url(/src/examples/tts/assets/crosshair060.png) 32 32, auto;
}

#mainMenu, #pauseMenu, #gameOverMenu {
    background-color: rgba(0, 0, 0, 0.66); 
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 1;
}

#mainMenu {  
    width: 100%;
    height: 100%;
    top: 0;
    transition: top 0.5s, opacity 0.5s ease-in-out;
}

#pauseMenu {
    width: 50%;
    height: 50%;
    right: 25%;
    left: 25%;
    bottom: 50%;    
    transition: opacity 0.1s ease-in-out;
}

/* #mainMenu h1, #gameOverMenu h1 {
    font-size: 48px;
    margin-bottom: 30px;    
} */

#mainMenu h2 {
    font-size: 24px;
    margin-bottom: 60px;
}

#pauseMenu h1 {
    font-size: 38px;
    margin-bottom: 30px;    
}

.menuButton {
    width: 300px;
    height: 50px;
    background-color: #0066cc;
    margin: 20px auto;
    line-height: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    color: white;
    border: none;
    text-shadow: 1px 2px 2px black;
    transition: background-color 0.3s;    
}

.menuButton:hover {
    background-color: #0052a3;
}

#credits.show {
    animation-play-state: running;
}

#finalScore {
    font-size: 72px;
}

.gradient-multicolor-bg {
    width: fit-content;
    color: transparent;
    background:
        linear-gradient(
            180deg,
            var(--shadow) 0%,
            var(--blue-200) 25%,
            var(--cyan-200) 40%,
            var(--cyan-100) 46%,
            var(--white) 48%,
            var(--shadow) 50%,
            var(--pink-300) 70%,
            var(--pink-100) 84%,
            var(--white) 100%
        );
    -webkit-background-clip: text;
    background-clip: text;
}

#press-to-start {
    position: relative;
    font-family: trivial, Arial;
    font-size: 2.5em;
}

#press-to-start::before {
    content: attr(title);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-text-stroke: 1px var(--white);
    color: transparent;
    z-index: 2;
    pointer-events: none;
}

@keyframes CreditsMovement {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}
